html {
    height: 100%;
  }

  body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: Helvetica;
    background: #fff;
    color: #000;
  }

  i.fa-play {
    padding-left: 8px;
  }

  .button {
    cursor: pointer;
    color: #444;
  }

  .button.active {
    color: #000 !important;
  }

  .browse {
    display: none;
    z-index: 1;
  }

  .browse ul {
    padding: 0px;
    margin: 0px;
  }

  .browse ul li {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    list-style: none;
    line-height: 1.5em;
    border-bottom: 1px solid #eee;
    padding: 12px 8px;
    font-size: 1.1em;
  }

  .browse ul li i {
    color: #000;
    margin-right: 4px;
    display: inline-block;
    width: 20px;
    text-align: center;
  }

  .browse ul li a {
    text-decoration: none;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  .controls {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .controls i {
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
  }

  .controls .rewind {
    position: fixed;
    top: 0;
    height: 20%;
    width: 100%;
  }

  .controls .rewind .button {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 2em;
    box-sizing: border-box;
    border-bottom: 1px solid #bbb;
    background: #eee;
  }

  .controls .rewind .backward-fast {
    border-right: 0px solid #bbb;
  }

  .controls .rewind .forward-fast {
    border-left: 1px solid #bbb;
  }

  .controls .volume {
    position: fixed;
    bottom: 0;
    height: 20%;
    width: 100%;
  }

  .controls .volume .button {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 3em;
    box-sizing: border-box;
    border-top: 1px solid #bbb;
    background: #eee;
  }

  .controls .volume .volume-up {
    border-left: 0px solid #bbb;
  }

  .controls .volume .volume-down {
    border-right: 1px solid #bbb;
  }

  .controls .main {
    position: fixed;
    top: 20%;
    bottom: 20%;
    width: 100%;
  }

  .controls .main .play {
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    height: auto;
    width: 40%;
    border-radius: 100%;
    margin: 0 auto;
    text-align: center; 
    font-size: 4em;
    box-shadow: inset 0 0 0 3px #000;
    color: #000;
  }

  .controls .main .play:before {
    display: block;
    content: ' ';
    padding-top: 100%;
  }

  .controls .main .backward {
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-215%, -50%);
    height: auto;
    width: 20%;
    border-radius: 100%;
    margin: 0 auto;
    text-align: center; 
    font-size: 2em;
    box-shadow: inset 0 0 0 3px #000;
    color: #000;
  }

  .controls .main .backward i {
    padding-right: 8px;
  }

  .controls .main .forward {
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(115%, -50%);
    height: auto;
    width: 20%;
    border-radius: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    box-shadow: inset 0 0 0 3px #000;
    color: #000;
  }

  .controls .main .forward i {
    padding-left: 6px;
  }

  .controls .main .forward:before,
  .controls .main .backward:before {
    display: block;
    content: ' ';
    padding-top: 100%;
  }

  .controls .main .subtitles {
    position: absolute;
    top: 20px; right: 20px;
    height: auto;
    width: 20%;
    margin: 0 auto;
    text-align: center; 
    font-size: 1.5em;
    text-align: right;
    color: #999;
  }

  .controls .main .stop {
    position: absolute;
    top: 20px; left: 20px;
    height: auto;
    width: 20%;
    margin: 0 auto;
    text-align: center; 
    font-size: 1.5em;
    text-align: left;
    color: #999;
  }

  .controls .main .info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    height: auto;
    width: 20%;
    margin: 0 auto;
    text-align: center; 
    font-size: 1.5em;
    text-align: left;
    color: #999;
    display: none;
  }